<div class="container">
  <h1>Vous êtes en train d'écouter <%= @track.title %><h1>

  <div class="card-link-profil">
    <%# afficher avatar du createur de la musique
    afficher le nom du createur de la musique
    afficher le status du createur de la musique
    link to vers le profil du createur de la musique %>
  </div>

  <div class="music-part">
    <div class="informations-track">
      <%# nombres de vote
      bouton favoris
      afficher l'img de la musique
      afficher le nom de la musique
      afficher le nom du createur de la musique %>
    </div>

    <div>
      <%# bouton replay musique
      bouton precedente musique
      bouton play/stop musique
      bouton suivante musique
      bouton aleatoire musique
      ligne de temps musique %>
    </div>
  </div>

  <div class="comment-part">
    <h4>Dites à 'Harry' ce que vous pensez de sa musique</h4>
    input comment w/ btn smiley et envoyer
    <div class="informations-comm">
      <%# afficher avatar de l'auteur du commentaire
      afficher nom de l'auteur du commentaire
      afficher status de l'auteur du commentaire
      afficher le commentaire
      bouton dropdown avec modifier et supprimer
      bouton j'aime %>
    </div>
  </div>

</div>
